
.icon-headphones:before { content: '\e800'; } /* '' */
.icon-right-big:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */